

@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background-color: #040714;
}

.Logo {
  width: 5rem;

}

.Nav {
  height: 4.375rem;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  padding: 0 2.25rem;
  background-color: #090b13;
}

.NavMenu {
  display: flex;
  flex: 1;
  margin-left: 1.5625rem;
  align-items: center;
}

.NavMenu a {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 .75rem;
}

.NavMenu a img {
  height: 1.25rem;
}

.NavMenu a span {
  font-size: .8185rem;
  letter-spacing: 0.08875rem;
  position: relative;
}

.UserImage img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  cursor: pointer;
}

.NavMenu a span::after {
  content: "";
  height: .125rem;
  opacity: 0;
  background-color: #fff;
  position: absolute;
  transform-origin: left right;
  left: 0;
  transform: scaleX(0);
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  right: 0;
  bottom: -.375rem;
}

.NavMenu a:hover span::after {
  transform: scaleX(1);
  opacity: 1;

}

.mainContainer {
  min-height: calc(100vh - 70px);
  padding: 0 calc(3.5vw + 5px);
  overflow-x: hidden;
  position: relative;
}
.mainContainer::before {
  content: "";
  background: url("./Images/home-background.png");
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.Carousel {
  margin-top: 1.25rem;
}

.Carousel .slick-list {
  overflow: visible;
}

.Wrap img{
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  box-shadow: rgb(0,0,0 / 69%) 0px 26px 30px -10px, rgb(0,0,0 / 73%) 0px 16px 10px -10px;
  border: 4px solid transparent;
  transition-duration: 300ms;

}
.Carousel ul li button::before {
  font-size: .625rem;
  color: rgb(150, 158, 171);

}

.Carousel li.slick-active button::before {
  color: white;
}
.Carousel button {
  z-index: 1;
}

.Wrap img:hover {
  border: 4px solid rgba(249, 249, 249, 0.8);
  cursor: pointer;
}
.ViewerContainer {
  margin-top: 1.875rem;
  display: grid;
  grid-template-columns: repeat();
}