* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
}

.Logo {
  width: 5rem;

}

.Nav {
  height: 4.375rem;
  display: flex;
  align-items: center;
  padding: 0 2.25rem;
  background-color: #090b13;
}

.NavMenu {
  display: flex;
  flex: 1;
  margin-left: 1.5625rem;
  align-items: center;
}

.NavMenu a {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 .75rem;
}

.NavMenu a img {
  height: 1.25rem;
}

.NavMenu a span {
  font-size: .8185rem;
  letter-spacing: 0.08875rem;
  position: relative;
}

.UserImage img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  cursor: pointer;
}

.NavMenu a span::after {
  content: "";
  height: .125rem;
  opacity: 0;
  background-color: #fff;
  position: absolute;
  transform-origin: left right;
  left: 0;
  transform: scaleX(0);
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  right: 0;
  bottom: -.375rem;
}

.NavMenu a:hover span::after {
  transform: scaleX(1);
  opacity: 1;

}